html {
  height: 100%;
}

body {
  font-family: 'Rancho', cursive;
  color: #111111;
  background-image: url("/img/pastry.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.render-body {
  background-color: transparent;
  margin-top: 15%;
  margin-bottom: 10%;
  border-radius: 10px;
  padding: 2%;
}

h4 {
  text-align: center;
  color: #111111;
}

h1 {
  text-align: center;
  font-size: 5em;
  font-weight: bolder;
  color: #c9c9c9;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #004586;
}

.btn {
  border: 1px solid #004586;
  border-radius: 10px;
  width: 40%;
  background-color: #c9c9c9;
  color: #004586;
  margin-top: 2%;
  padding: 1%;
}

.btn:hover {
  background-color: #004586;
  color: #c9c9c9;
  text-decoration: none;
}

.three-buttons {
  display: flex;
  justify-content: space-between;
}

.three-buttons a {
  width: 30%;
}