@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<h1>DELETE @Html.DisplayFor(model => model.Name)?</h1>

@using (Html.BeginForm())
{
  <input type="submit" class="btn-block" value="YES, DELETE" />
}