@{
  Layout = "_Layout";
}

@using Bakery.Models;
@model IEnumerable<Bakery.Models.Treat>

<h1>TREATS</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Treat treat in Model)
    {
      <p>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId })</p>
    }
  </ul>
} 
else
{
  <h4>no treats added yet</h4>
}

@Html.ActionLink("ADD NEW TREAT", "Create", "Treats", null, new { @class="btn-block" })
