<div id="header">
  <div class="navbar" role="navigation">
    @Html.ActionLink("HOME", "Index", "Home", null, new {@class="nav-link"})
    @Html.ActionLink("ACCOUNT", "Index", "Account", null, new {@class="nav-link"})
    @Html.ActionLink("FLAVORS", "Index", "Flavors", null, new {@class="nav-link"})
    @Html.ActionLink("TREATS", "Index", "Treats", null, new {@class="nav-link"})
  </div>
</div>