@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor

<h1>DO YOU WANT TO DELETE @Html.DisplayFor(model => model.Name)?</h1>

@using (Html.BeginForm())
{
  <input type="submit" class="btn-block" value="YES, DELETE THIS FLAVOR" />
}