@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor

<h1>DELETE THIS FLAVOR?</h1>
<h4>@Html.DisplayFor(model => model.Name)</h4>
@using (Html.BeginForm())
{
  <input type="submit" class="btn-block" value="YES, DELETE" />
}