@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor

<h1>EDIT FLAVOR @Html.DisplayFor(model => model.Name)</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  <input type="submit" class="btn-block" value="SAVE CHANGES" />
}